.modals-letter {
  .modals__content {
    max-width: 480px;
  }
}

@media (max-width: 600px) {
  .modals-letter__body {
    gap: 15px;
  }
}

@media (max-width: 599px) {
  .modals-letter__body {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .modals-letter .modals__header {
    margin-top: 10px;
  }
}
